// Layout / Sticky Footer / Settings

$sticky-footer__height: rem(60) !default;
$sticky-footer__height--bp: (
  small: rem(60),
  medium: rem(90),
  large: rem(120),
  xlarge: rem(150),
  xxlarge: rem(180),
  xxxlarge: rem(210)
) !default;
$sticky-footer__class: l-region-footer !default;
