// Core / Modules / Buttons / Mixins

@mixin button(
$display: inline-block,
$padding--h: $button__padding--h,
$padding--v: $button__padding--v,
$bg-color: $button__bg-color,
$bg-color--hover: $button__bg-color--hover,
$bg-color--active: $button__bg-color--active,
$color: $button__color,
$color--hover: $button__color,
$color--active: $button__color,
$text-align: $button__text-align,
$text-decoration: $button__text-decoration,
$border-width: $button__border-width,
$border-style: $button__border-style,
$border-color: $button__border-color,
$opacity--disabled: $button__opacity--disabled) {
  display: $display;
  padding: {
    top: $padding--v;
    right: $padding--h;
    bottom: $padding--v;
    left: $padding--h;
  }
  background-color: $bg-color;
  color: $color;
  text: {
    align: $text-align;
    decoration: $text-decoration;
  }
  border: {
    width: $border-width;
    style: $border-style;
    color: $border-color;
  }

  &:hover {
    background-color: $bg-color--hover;
    color: $color--hover;
  }

  &:active,
  &.is-active {
    background-color: $bg-color--active;
    color: $color--active;
  }

  &.is-disabled {
    cursor: default;
    opacity: $opacity--disabled;

    &:hover,
    &:active {
      background-color: $bg-color;
    }
  }
}

@mixin button--action(
$display: null,
$padding--h: $button__padding--h,
$padding--v: $button__padding--v,
$bg-color: $button__bg-color,
$bg-color--hover: $button__bg-color--hover,
$bg-color--active: $button__bg-color--active,
$color: $button__color,
$color--hover: $button__color,
$color--active: $button__color,
$text-align: $button__text-align,
$text-decoration: $button__text-decoration,
$border-width: $button__border-width,
$border-style: $button__border-style,
$border-color: $button__border-color,
$opacity--disabled: $button__opacity--disabled) {
  @include button(
    $display,
    $padding--h,
    $padding--v,
    $bg-color,
    $bg-color--hover,
    $bg-color--active,
    $color,
    $color--hover,
    $color--active,
    $text-align,
    $text-decoration,
    $border-width,
    $border-style,
    $border-color,
    $opacity--disabled
  )
}

@mixin button--roundness($roundness: $button-roundness) {
  @if($roundness == round) {
    border-radius: 1000px;
  } @else {
    border-radius: $roundness;
  }
}

@mixin button--width($width: auto) {
  @if($width == half) {
    width: 50%;

  } @elseif($width == full) {
    width: 100%;

  } @else {
    width: $width;
  }
}
