// Core / Modules / Buttons / Settings

$button__padding--v: .5em !default;
$button__padding--h: 1em !default;
$button__bg-color: #eee;
$button__bg-color--hover: #e0e0e0 !default;
$button__bg-color--active: #bdbdbd !default;
$button__color: inherit !default;
$button__color--hover: $button__color !default;
$button__color--active: $button__color !default;
$button__text-align: center !default;
$button__text-decoration: none !default;
$button__border-width: 1px !default;
$button__border-style: solid !default;
$button__border-color: $button__bg-color--hover !default;
$button__opacity--disabled: .4 !default;

// Actions
$button--action-primary__padding--v: null !default;
$button--action-primary__padding--h: null !default;
$button--action-primary__bg-color: #ab47bc !default;
$button--action-primary__bg-color--hover: #9c27b0 !default;
$button--action-primary__bg-color--active: #8e24aa !default;
$button--action-primary__color: #fff !default;
$button--action-primary__color--hover: $button--action-primary__color !default;
$button--action-primary__color--active: $button--action-primary__color !default;
$button--action-primary__text-align: null !default;
$button--action-primary__text-decoration: null !default;
$button--action-primary__border-width: null !default;
$button--action-primary__border-style: null !default;
$button--action-primary__border-color: $button--action-primary__bg-color--hover !default;

$button--action-positive__padding--v: null !default;
$button--action-positive__padding--h: null !default;
$button--action-positive__bg-color: #66bb6a !default;
$button--action-positive__bg-color--hover: #4caf50 !default;
$button--action-positive__bg-color--active: #43a047 !default;
$button--action-positive__color: #fff !default;
$button--action-positive__color--hover: $button--action-positive__color !default;
$button--action-positive__color--active: $button--action-positive__color !default;
$button--action-positive__text-align: null !default;
$button--action-positive__text-decoration: null !default;
$button--action-positive__border-width: null !default;
$button--action-positive__border-style: null !default;
$button--action-positive__border-color: $button--action-positive__bg-color--hover !default;

$button--action-negative__padding--v: null !default;
$button--action-negative__padding--h: null !default;
$button--action-negative__bg-color: #ef5350 !default;
$button--action-negative__bg-color--hover: #f44336 !default;
$button--action-negative__bg-color--active: #d32f2f !default;
$button--action-negative__color: #fff !default;
$button--action-negative__color--hover: $button--action-negative__color !default;
$button--action-negative__color--active: $button--action-negative__color !default;
$button--action-negative__text-align: null !default;
$button--action-negative__text-decoration: null !default;
$button--action-negative__border-width: $button__border-width !default;
$button--action-negative__border-style: $button__border-style !default;
$button--action-negative__border-color: $button--action-negative__bg-color--hover !default;

$button--action-warning__padding--v: null !default;
$button--action-warning__padding--h: null !default;
$button--action-warning__bg-color: #ffca28 !default;
$button--action-warning__bg-color--hover: #ffc107 !default;
$button--action-warning__bg-color--active: #ffb300 !default;
$button--action-warning__color: #fff !default;
$button--action-warning__color--hover: $button--action-warning__color !default;
$button--action-warning__color--active: $button--action-warning__color !default;
$button--action-warning__text-align: null !default;
$button--action-warning__text-decoration: null !default;
$button--action-warning__border-width: null !default;
$button--action-warning__border-style: null !default;
$button--action-warning__border-color: $button--action-warning__bg-color--hover !default;

// Roundness
$button--roundness__radius: 4px !default;

// Presentational Classes
$button-classes: true !default;
