// Core / Modules / Buttons / Settings

$button__padding--v: .5em;
$button__padding--h: 1em;
$button__bg-color: $grey--200;
$button__bg-color--hover: $grey--300;
$button__bg-color--active: $grey--400;
$button__color: inherit;
$button__color--hover: $button__color;
$button__color--active: $button__color;
$button__text-align: center;
$button__text-decoration: none;
$button__border-width: 1px;
$button__border-style: solid;
$button__border-color: $button__bg-color--hover;
$button__opacity--disabled: .4;

// Actions
$button--action-primary__padding--v: null;
$button--action-primary__padding--h: null;
$button--action-primary__bg-color: $purple--400;
$button--action-primary__bg-color--hover: $purple--500;
$button--action-primary__bg-color--active: $purple--600;
$button--action-primary__color: $white;
$button--action-primary__color--hover: $button--action-primary__color;
$button--action-primary__color--active: $button--action-primary__color;
$button--action-primary__text-align: null;
$button--action-primary__text-decoration: null;
$button--action-primary__border-width: null;
$button--action-primary__border-style: null;
$button--action-primary__border-color: $button--action-primary__bg-color--hover;

$button--action-positive__padding--v: null;
$button--action-positive__padding--h: null;
$button--action-positive__bg-color: $green--400;
$button--action-positive__bg-color--hover: $green--500;
$button--action-positive__bg-color--active: $green--600;
$button--action-positive__color: $white;
$button--action-positive__color--hover: $button--action-positive__color;
$button--action-positive__color--active: $button--action-positive__color;
$button--action-positive__text-align: null;
$button--action-positive__text-decoration: null;
$button--action-positive__border-width: null;
$button--action-positive__border-style: null;
$button--action-positive__border-color: $button--action-positive__bg-color--hover;

$button--action-negative__padding--v: null;
$button--action-negative__padding--h: null;
$button--action-negative__bg-color: $red--400;
$button--action-negative__bg-color--hover: $red--500;
$button--action-negative__bg-color--active: $red--600;
$button--action-negative__color: $white;
$button--action-negative__color--hover: $button--action-negative__color;
$button--action-negative__color--active: $button--action-negative__color;
$button--action-negative__text-align: null;
$button--action-negative__text-decoration: null;
$button--action-negative__border-width: $button__border-width;
$button--action-negative__border-style: $button__border-style;
$button--action-negative__border-color: $button--action-negative__bg-color--hover;

$button--action-warning__padding--v: null;
$button--action-warning__padding--h: null;
$button--action-warning__bg-color: $amber--400;
$button--action-warning__bg-color--hover: $amber--500;
$button--action-warning__bg-color--active: $amber--600;
$button--action-warning__color: $white;
$button--action-warning__color--hover: $button--action-warning__color;
$button--action-warning__color--active: $button--action-warning__color;
$button--action-warning__text-align: null;
$button--action-warning__text-decoration: null;
$button--action-warning__border-width: null;
$button--action-warning__border-style: null;
$button--action-warning__border-color: $button--action-warning__bg-color--hover;

// Roundness
$button-roundness: 4px;

// Width
$button-width: auto;

// Presentational Classes
$button-classes: true;
