// Core / Modules / Buttons / Styles

@if ($button-classes == true) {
  .button {
    @include button();

    &--action-primary {
      @include button-action();
    }

    &--action-positive {
      @include button-action($bg-color: $button-action-positive-bg-color, $bg-color--hover: $button-action-positive-bg-color--hover, $bg-color--active: $button-action-positive-bg-color--active);
    }

    &--action-negative {
      @include button-action($bg-color: $button-action-negative-bg-color, $bg-color--hover: $button-action-negative-bg-color--hover, $bg-color--active: $button-action-negative-bg-color--active);
    }

    &--action-warning {
      @include button-action($bg-color: $button-action-warning-bg-color, $bg-color--hover: $button-action-warning-bg-color--hover, $bg-color--active: $button-action-warning-bg-color--active);
    }

    // modular scale - 5:6 - minor third
    &--scale-xsmall {
      font-size: .694em;
    }

    &--scale-small {
      font-size: .833em;
    }

    &--scale-large {
      font-size: 1.2em;
    }

    &--scale-xlarge {
      font-size: 1.44em;
    }

    &--scale-xxlarge {
      font-size: 1.728em;
    }

    // modular scale - 3:4 - perfect fourth
    &--size-xsmall {
      padding: ($button-padding--v * .563) ($button-padding--h * .563);
    }

    &--size-small {
      padding: ($button-padding--v * .75) ($button-padding--h * .75);
    }

    &--size-large {
      padding: ($button-padding--v * 1.333) ($button-padding--h * 1.333);
    }

    &--size-xlarge {
      padding: ($button-padding--v * 1.777) ($button-padding--h * 1.777);
    }

    &--size-xxlarge {
      padding: ($button-padding--v * 2.369) ($button-padding--h * 2.369);
    }

    &--width-auto {
      @include button-width(auto);
    }

    &--width-half {
      @include button-width(half);
    }

    &--width-full {
      @include button-width(full);
    }

    &--rounded {
      @include button-roundness();
    }

    &--round {
      @include button-roundness(round);
    }
  }
}
