// Base

// Content sectioning

// Style

// <address>
// <article>
// <body>
// <footer>
// <header>

// Headings (<h1>-<h6>)
// Modular Scale - 8:9 - Major Second
h1 {
  font-size: $h1__font-size;
}

h2 {
  font-size: $h2__font-size;
}

h3 {
  font-size: $h3__font-size;
}

h4 {
  font-size: $h4__font-size;
}

h5 {
  font-size: $h5__font-size;
}

h6 {
  font-size: $h6__font-size;
}

// <nav>
// <section>
