// Converts tracking to rem
@function ls($target) {
  $target: strip-unit($target);
  $html-font-size: strip-unit($html-font-size);

  $tracking: ($target * $html-font-size) / 1000;
  $tracking: $tracking / $html-font-size;

  @return $tracking+rem;
}
