// Base / Abstract / Breakpoints / Settings

// Settings

// Breakpoints
$bp-small:    em(480) !default;
$bp-medium:   em(768) !default;
$bp-large:    em(1024) !default;
$bp-xlarge:   em(1366) !default;
$bp-xxlarge:  em(1600) !default;
$bp-xxxlarge: em(1920) !default;

$bp-map: (
  small:    $bp-small,
  medium:   $bp-medium,
  large:    $bp-large,
  xlarge:   $bp-xlarge,
  xxlarge:  $bp-xxlarge,
  xxxlarge: $bp-xxxlarge
) !default;

$bp--enabled: true;
