// Media Queries

// Settings

// Breakpoints
$mq-small:    em(480);
$mq-medium:   em(768);
$mq-large:    em(1024);
$mq-xlarge:   em(1366);
$mq-xxlarge:  em(1600);
$mq-xxxlarge: em(1920);

$mq-map: (
  small:    $mq-small,
  medium:   $mq-medium,
  large:    $mq-large,
  xlarge:   $mq-xlarge,
  xxlarge:  $mq-xxlarge,
  xxxlarge: $mq-xxxlarge
);
