// Media Queries

// Settings

// Breakpoints
$breakpoint-small: unit(480px, em);
$breakpoint-medium: em(768px);
$breakpoint-large: em(1024px);
$breakpoint-xlarge: em(1366px);
$breakpoint-xxlarge: em(1600px);
$breakpoint-xxxlarge: em(1920px);
