// Container

// Settings

// Full Container
$container-padding: em(20px);
$container-padding--medium: $container-padding;
$container-padding--large: 0;

// Constrained Container
$container--constrained-max-width--large: 80%;
