// Container

// Style

// Full container
.layout-container {
  padding-right: $container-padding;
  padding-left: $container-padding;

  @include large() {
    padding-right: $container-padding--large;
    padding-left: $container-padding--large;
  }
}

// Constrained container
.layout-container--constrained {
  @include large() {
    max-width: $container--constrained-max-width--large;
    margin-right: auto;
    margin-left: auto;
  }
}
