// Base / Abstract / Colors / Material Design

// Website: http://www.google.com/design/spec/style/color.html#color-color-palette

// Google Material Design Color Palettes
$palette__red: #ffebee #ffcdd2 #ef9a9a #e57373 #ef5350 #f44336 #e53935 #d32f2f #c62828 #b71c1c #ff8a80 #ff5252 #ff1744 #d50000;
$palette__pink: #fce4ec #f8bbd0 #f48fb1 #f06292 #ec407a #e91e63 #d81b60 #c2185b #ad1457 #880e4f #ff80ab #ff4081 #f50057 #c51162;
$palette__purple: #f3e5f5 #e1bee7 #ce93d8 #ba68c8 #ab47bc #9c27b0 #8e24aa #7b1fa2 #6a1b9a #4a148c #ea80fc #e040fb #d500f9 #a0f;
$palette__deep-purple: #ede7f6 #d1c4e9 #b39ddb #9575cd #7e57c2 #673ab7 #5e35b1 #512da8 #4527a0 #311b92 #b388ff #7c4dff #651fff #6200ea;
$palette__indigo: #e8eaf6 #c5cae9 #9fa8da #7986cb #5c6bc0 #3f51b5 #3949ab #303f9f #283593 #1a237e #8c9eff #536dfe #3d5afe #304ffe;
$palette__blue: #e7e9fd #d0d9ff #afbfff #91a7ff #738ffe #5677fc #4e6cef #455ede #3b50ce #2a36b1 #a6baff #6889ff #4d73ff #4d69ff;
$palette__light-blue: #e1f5fe #b3e5fc #81d4fa #4fc3f7 #29b6f6 #03a9f4 #039be5 #0288d1 #0277bd #01579b #80d8ff #40c4ff #00b0ff #0091ea;
$palette__cyan: #e0f7fa #b2ebf2 #80deea #4dd0e1 #26c6da #00bcd4 #00acc1 #0097a7 #00838f #006064 #84ffff #18ffff #00e5ff #00b8d4;
$palette__teal: #e0f2f1 #b2dfdb #80cbc4 #4db6ac #26a69a #009688 #00897b #00796b #00695c #004d40 #a7ffeb #64ffda #1de9b6 #00bfa5;
$palette__green: #e8f5e9 #c8e6c9 #a5d6a7 #81c784 #66bb6a #4caf50 #43a047 #388e3c #2e7d32 #1b5e20 #b9f6ca #69f0ae #00e676 #00c853;
$palette__light-green: #f1f8e9 #dcedc8 #c5e1a5 #aed581 #9ccc65 #8bc34a #7cb342 #689f38 #558b2f #33691e #ccff90 #b2ff59 #76ff03 #64dd17;
$palette__lime: #f9fbe7 #f0f4c3 #e6ee9c #dce775 #d4e157 #cddc39 #c0ca33 #afb42b #9e9d24 #827717 #f4ff81 #eeff41 #c6ff00 #aeea00;
$palette__yellow: #fffde7 #fff9c4 #fff59d #fff176 #ffee58 #ffeb3b #fdd835 #fbc02d #f9a825 #f57f17 #ffff8d #ff0 #ffea00 #ffd600;
$palette__amber: #fff8e1 #ffecb3 #ffe082 #ffd54f #ffca28 #ffc107 #ffb300 #ffa000 #ff8f00 #ff6f00 #ffe57f #ffd740 #ffc400 #ffab00;
$palette__orange: #fff3e0 #ffe0b2 #ffcc80 #ffb74d #ffa726 #ff9800 #fb8c00 #f57c00 #ef6c00 #e65100 #ffd180 #ffab40 #ff9100 #ff6d00;
$palette__deep-orange: #fbe9e7 #ffccbc #ffab91 #ff8a65 #ff7043 #ff5722 #f4511e #e64a19 #d84315 #bf360c #ff9e80 #ff6e40 #ff3d00 #dd2c00;
$palette__brown: #efebe9 #d7ccc8 #bcaaa4 #a1887f #8d6e63 #795548 #6d4c41 #5d4037 #4e342e #3e2723;
$palette__grey: #fafafa #f5f5f5 #eee #e0e0e0 #bdbdbd #9e9e9e #757575 #616161 #424242 #212121;
$palette__blue-grey: #eceff1 #cfd8dc #b0bec5 #90a4ae #78909c #607d8b #546e7a #455a64 #37474f #263238;

// Color definitions
$red--50:   nth($palette__red, 1);
$red--100:  nth($palette__red, 2);
$red--200:  nth($palette__red, 3);
$red--300:  nth($palette__red, 4);
$red--400:  nth($palette__red, 5);
$red--500:  nth($palette__red, 6);
$red--600:  nth($palette__red, 7);
$red--700:  nth($palette__red, 8);
$red--800:  nth($palette__red, 9);
$red--900:  nth($palette__red, 10);
$red--a100: nth($palette__red, 11);
$red--a200: nth($palette__red, 12);
$red--a400: nth($palette__red, 13);
$red--a700: nth($palette__red, 14);
$red: $red--500;

$pink--50:   nth($palette__pink, 1);
$pink--100:  nth($palette__pink, 2);
$pink--200:  nth($palette__pink, 3);
$pink--300:  nth($palette__pink, 4);
$pink--400:  nth($palette__pink, 5);
$pink--500:  nth($palette__pink, 6);
$pink--600:  nth($palette__pink, 7);
$pink--700:  nth($palette__pink, 8);
$pink--800:  nth($palette__pink, 9);
$pink--900:  nth($palette__pink, 10);
$pink--a100: nth($palette__pink, 11);
$pink--a200: nth($palette__pink, 12);
$pink--a400: nth($palette__pink, 13);
$pink--a700: nth($palette__pink, 14);
$pink: $pink--500;

$purple--50:   nth($palette__purple, 1);
$purple--100:  nth($palette__purple, 2);
$purple--200:  nth($palette__purple, 3);
$purple--300:  nth($palette__purple, 4);
$purple--400:  nth($palette__purple, 5);
$purple--500:  nth($palette__purple, 6);
$purple--600:  nth($palette__purple, 7);
$purple--700:  nth($palette__purple, 8);
$purple--800:  nth($palette__purple, 9);
$purple--900:  nth($palette__purple, 10);
$purple--a100: nth($palette__purple, 11);
$purple--a200: nth($palette__purple, 12);
$purple--a400: nth($palette__purple, 13);
$purple--a700: nth($palette__purple, 14);
$purple: $purple--500;

$deep-purple--50:   nth($palette__deep-purple, 1);
$deep-purple--100:  nth($palette__deep-purple, 2);
$deep-purple--200:  nth($palette__deep-purple, 3);
$deep-purple--300:  nth($palette__deep-purple, 4);
$deep-purple--400:  nth($palette__deep-purple, 5);
$deep-purple--500:  nth($palette__deep-purple, 6);
$deep-purple--600:  nth($palette__deep-purple, 7);
$deep-purple--700:  nth($palette__deep-purple, 8);
$deep-purple--800:  nth($palette__deep-purple, 9);
$deep-purple--900:  nth($palette__deep-purple, 10);
$deep-purple--a100: nth($palette__deep-purple, 11);
$deep-purple--a200: nth($palette__deep-purple, 12);
$deep-purple--a400: nth($palette__deep-purple, 13);
$deep-purple--a700: nth($palette__deep-purple, 14);
$deep-purple: $deep-purple--500;

$indigo--50:   nth($palette__indigo, 1);
$indigo--100:  nth($palette__indigo, 2);
$indigo--200:  nth($palette__indigo, 3);
$indigo--300:  nth($palette__indigo, 4);
$indigo--400:  nth($palette__indigo, 5);
$indigo--500:  nth($palette__indigo, 6);
$indigo--600:  nth($palette__indigo, 7);
$indigo--700:  nth($palette__indigo, 8);
$indigo--800:  nth($palette__indigo, 9);
$indigo--900:  nth($palette__indigo, 10);
$indigo--a100: nth($palette__indigo, 11);
$indigo--a200: nth($palette__indigo, 12);
$indigo--a400: nth($palette__indigo, 13);
$indigo--a700: nth($palette__indigo, 14);
$indigo: $indigo--500;

$blue--50:   nth($palette__blue, 1);
$blue--100:  nth($palette__blue, 2);
$blue--200:  nth($palette__blue, 3);
$blue--300:  nth($palette__blue, 4);
$blue--400:  nth($palette__blue, 5);
$blue--500:  nth($palette__blue, 6);
$blue--600:  nth($palette__blue, 7);
$blue--700:  nth($palette__blue, 8);
$blue--800:  nth($palette__blue, 9);
$blue--900:  nth($palette__blue, 10);
$blue--a100: nth($palette__blue, 11);
$blue--a200: nth($palette__blue, 12);
$blue--a400: nth($palette__blue, 13);
$blue--a700: nth($palette__blue, 14);
$blue: $blue--500;

$light-blue--50:   nth($palette__light-blue, 1);
$light-blue--100:  nth($palette__light-blue, 2);
$light-blue--200:  nth($palette__light-blue, 3);
$light-blue--300:  nth($palette__light-blue, 4);
$light-blue--400:  nth($palette__light-blue, 5);
$light-blue--500:  nth($palette__light-blue, 6);
$light-blue--600:  nth($palette__light-blue, 7);
$light-blue--700:  nth($palette__light-blue, 8);
$light-blue--800:  nth($palette__light-blue, 9);
$light-blue--900:  nth($palette__light-blue, 10);
$light-blue--a100: nth($palette__light-blue, 11);
$light-blue--a200: nth($palette__light-blue, 12);
$light-blue--a400: nth($palette__light-blue, 13);
$light-blue--a700: nth($palette__light-blue, 14);
$light-blue: $light-blue--500;

$cyan--50:   nth($palette__cyan, 1);
$cyan--100:  nth($palette__cyan, 2);
$cyan--200:  nth($palette__cyan, 3);
$cyan--300:  nth($palette__cyan, 4);
$cyan--400:  nth($palette__cyan, 5);
$cyan--500:  nth($palette__cyan, 6);
$cyan--600:  nth($palette__cyan, 7);
$cyan--700:  nth($palette__cyan, 8);
$cyan--800:  nth($palette__cyan, 9);
$cyan--900:  nth($palette__cyan, 10);
$cyan--a100: nth($palette__cyan, 11);
$cyan--a200: nth($palette__cyan, 12);
$cyan--a400: nth($palette__cyan, 13);
$cyan--a700: nth($palette__cyan, 14);
$cyan: $cyan--500;

$teal--50:   nth($palette__teal, 1);
$teal--100:  nth($palette__teal, 2);
$teal--200:  nth($palette__teal, 3);
$teal--300:  nth($palette__teal, 4);
$teal--400:  nth($palette__teal, 5);
$teal--500:  nth($palette__teal, 6);
$teal--600:  nth($palette__teal, 7);
$teal--700:  nth($palette__teal, 8);
$teal--800:  nth($palette__teal, 9);
$teal--900:  nth($palette__teal, 10);
$teal--a100: nth($palette__teal, 11);
$teal--a200: nth($palette__teal, 12);
$teal--a400: nth($palette__teal, 13);
$teal--a700: nth($palette__teal, 14);
$teal: $teal--500;

$green--50:   nth($palette__green, 1);
$green--100:  nth($palette__green, 2);
$green--200:  nth($palette__green, 3);
$green--300:  nth($palette__green, 4);
$green--400:  nth($palette__green, 5);
$green--500:  nth($palette__green, 6);
$green--600:  nth($palette__green, 7);
$green--700:  nth($palette__green, 8);
$green--800:  nth($palette__green, 9);
$green--900:  nth($palette__green, 10);
$green--a100: nth($palette__green, 11);
$green--a200: nth($palette__green, 12);
$green--a400: nth($palette__green, 13);
$green--a700: nth($palette__green, 14);
$green: $green--500;

$light-green--50:   nth($palette__light-green, 1);
$light-green--100:  nth($palette__light-green, 2);
$light-green--200:  nth($palette__light-green, 3);
$light-green--300:  nth($palette__light-green, 4);
$light-green--400:  nth($palette__light-green, 5);
$light-green--500:  nth($palette__light-green, 6);
$light-green--600:  nth($palette__light-green, 7);
$light-green--700:  nth($palette__light-green, 8);
$light-green--800:  nth($palette__light-green, 9);
$light-green--900:  nth($palette__light-green, 10);
$light-green--a100: nth($palette__light-green, 11);
$light-green--a200: nth($palette__light-green, 12);
$light-green--a400: nth($palette__light-green, 13);
$light-green--a700: nth($palette__light-green, 14);
$light-green: $light-green--500;

$lime--50:   nth($palette__lime, 1);
$lime--100:  nth($palette__lime, 2);
$lime--200:  nth($palette__lime, 3);
$lime--300:  nth($palette__lime, 4);
$lime--400:  nth($palette__lime, 5);
$lime--500:  nth($palette__lime, 6);
$lime--600:  nth($palette__lime, 7);
$lime--700:  nth($palette__lime, 8);
$lime--800:  nth($palette__lime, 9);
$lime--900:  nth($palette__lime, 10);
$lime--a100: nth($palette__lime, 11);
$lime--a200: nth($palette__lime, 12);
$lime--a400: nth($palette__lime, 13);
$lime--a700: nth($palette__lime, 14);
$lime: $lime--500;

$yellow--50:   nth($palette__yellow, 1);
$yellow--100:  nth($palette__yellow, 2);
$yellow--200:  nth($palette__yellow, 3);
$yellow--300:  nth($palette__yellow, 4);
$yellow--400:  nth($palette__yellow, 5);
$yellow--500:  nth($palette__yellow, 6);
$yellow--600:  nth($palette__yellow, 7);
$yellow--700:  nth($palette__yellow, 8);
$yellow--800:  nth($palette__yellow, 9);
$yellow--900:  nth($palette__yellow, 10);
$yellow--a100: nth($palette__yellow, 11);
$yellow--a200: nth($palette__yellow, 12);
$yellow--a400: nth($palette__yellow, 13);
$yellow--a700: nth($palette__yellow, 14);
$yellow: $yellow--500;

$amber--50:   nth($palette__amber, 1);
$amber--100:  nth($palette__amber, 2);
$amber--200:  nth($palette__amber, 3);
$amber--300:  nth($palette__amber, 4);
$amber--400:  nth($palette__amber, 5);
$amber--500:  nth($palette__amber, 6);
$amber--600:  nth($palette__amber, 7);
$amber--700:  nth($palette__amber, 8);
$amber--800:  nth($palette__amber, 9);
$amber--900:  nth($palette__amber, 10);
$amber--a100: nth($palette__amber, 11);
$amber--a200: nth($palette__amber, 12);
$amber--a400: nth($palette__amber, 13);
$amber--a700: nth($palette__amber, 14);
$amber: $amber--500;

$orange--50:   nth($palette__orange, 1);
$orange--100:  nth($palette__orange, 2);
$orange--200:  nth($palette__orange, 3);
$orange--300:  nth($palette__orange, 4);
$orange--400:  nth($palette__orange, 5);
$orange--500:  nth($palette__orange, 6);
$orange--600:  nth($palette__orange, 7);
$orange--700:  nth($palette__orange, 8);
$orange--800:  nth($palette__orange, 9);
$orange--900:  nth($palette__orange, 10);
$orange--a100: nth($palette__orange, 11);
$orange--a200: nth($palette__orange, 12);
$orange--a400: nth($palette__orange, 13);
$orange--a700: nth($palette__orange, 14);
$orange: $orange--500;

$deep-orange--50:   nth($palette__deep-orange, 1);
$deep-orange--100:  nth($palette__deep-orange, 2);
$deep-orange--200:  nth($palette__deep-orange, 3);
$deep-orange--300:  nth($palette__deep-orange, 4);
$deep-orange--400:  nth($palette__deep-orange, 5);
$deep-orange--500:  nth($palette__deep-orange, 6);
$deep-orange--600:  nth($palette__deep-orange, 7);
$deep-orange--700:  nth($palette__deep-orange, 8);
$deep-orange--800:  nth($palette__deep-orange, 9);
$deep-orange--900:  nth($palette__deep-orange, 10);
$deep-orange--a100: nth($palette__deep-orange, 11);
$deep-orange--a200: nth($palette__deep-orange, 12);
$deep-orange--a400: nth($palette__deep-orange, 13);
$deep-orange--a700: nth($palette__deep-orange, 14);
$deep-orange: $deep-orange--500;

$brown--50:   nth($palette__brown, 1);
$brown--100:  nth($palette__brown, 2);
$brown--200:  nth($palette__brown, 3);
$brown--300:  nth($palette__brown, 4);
$brown--400:  nth($palette__brown, 5);
$brown--500:  nth($palette__brown, 6);
$brown--600:  nth($palette__brown, 7);
$brown--700:  nth($palette__brown, 8);
$brown--800:  nth($palette__brown, 9);
$brown--900:  nth($palette__brown, 10);
$brown: $brown--500;

$grey--50:   nth($palette__grey, 1);
$grey--100:  nth($palette__grey, 2);
$grey--200:  nth($palette__grey, 3);
$grey--300:  nth($palette__grey, 4);
$grey--400:  nth($palette__grey, 5);
$grey--500:  nth($palette__grey, 6);
$grey--600:  nth($palette__grey, 7);
$grey--700:  nth($palette__grey, 8);
$grey--800:  nth($palette__grey, 9);
$grey--900:  nth($palette__grey, 10);
$grey: $grey--500;

$blue-grey--50:   nth($palette__blue-grey, 1);
$blue-grey--100:  nth($palette__blue-grey, 2);
$blue-grey--200:  nth($palette__blue-grey, 3);
$blue-grey--300:  nth($palette__blue-grey, 4);
$blue-grey--400:  nth($palette__blue-grey, 5);
$blue-grey--500:  nth($palette__blue-grey, 6);
$blue-grey--600:  nth($palette__blue-grey, 7);
$blue-grey--700:  nth($palette__blue-grey, 8);
$blue-grey--800:  nth($palette__blue-grey, 9);
$blue-grey--900:  nth($palette__blue-grey, 10);
$blue-grey: $blue-grey--500;
