// Layout

// Grid

// Styles

// Generates l-grid-[n], l-grid-offset-[n] and other classes dynamically based
// on number of columns
@if($grid-classes == true) {

  // generate column classes
  @include grid-classes();

  // Generates responsive l-grid-[breakpoint]-[n], l-grid-[breakpoint]-offset-[n]
  // and other classes based on number of columns
  @if($bp--enabled == true) {
    @each $bp-name, $bp-value in $bp-map {
      @include bp($bp-value) {
        @include grid-classes($bp-name);
      }
    }
  }
}

// TO-DO
// move this to the demonstration site in the future
@if($grid-classes == true) {
  .l-grid__row {
    &--display {
      margin-right: 0;
      margin-bottom: 10px;
      margin-left: 0;
      background: $grey--100;
      line-height: 3em;

      .l-grid__col {
        font-size: rem(12);
      }

      .l-grid__col:nth-of-type(even) {
        background: $grey--300;
      }

      .l-grid__col:nth-of-type(odd) {
        background: $grey--200;
      }
    }
  }
}
