// Base

// Content sectioning

// Style


// <address>
// <article>
// <body>
body {
  background-color: $body-background-color;
  color: $body-color;
  box-sizing: border-box;
}
// <footer>
// <header>

// <h1>
// <h2>
// <h3>
// <h4>
// <h5>
// <h6>
// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   margin: 0;
// }

// <nav>
// <section>
