// Base

// Global

* {
  // * { Box-sizing: Border-box } FTW
  // http://www.paulirish.com/2012/box-sizing-border-box-ftw/
  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }

  // Removes margin-top for first-child elements
  &:first-child {
    margin-top: 0;
  }

  // Removes margin-bottom for last-child elements
  &:last-child {
    margin-bottom: 0;
  }
}
