// Mixins

// Rows
@mixin grid__row($gutter: $grid__gutter) {
  @include clearfix;
  margin-right: rem(-$gutter / 2);
  margin-left: rem(-$gutter / 2);
}

// Columns
@mixin grid__column($columns: 1, $offset: null, $push: null, $pull: null, $align: null) {
  width: percentage($columns / $grid__columns);
  padding-right: rem($grid__gutter / 2);
  padding-left: rem($grid__gutter / 2);
  float: left;

  @if($offset) {
    @include grid__offset($offset);
  }

  @if($push) {
    @include grid__push($push);
  }

  @if($pull) {
    @include grid__pull($pull);
  }

  @if($align) {
    @include grid__align($align);
  }
}

// Offset
@mixin grid__offset($columns: 1) {
  margin-left: percentage($columns / $grid__columns);
}

// Push
@mixin grid__push($columns: 1) {
  position: relative;
  left: percentage($columns / $grid__columns);
  right: auto;
}

// Pull
@mixin grid__pull($columns: 1) {
  position: relative;
  right: percentage($columns / $grid__columns);
  left: auto;
}

// Centered
@mixin grid__align($align) {
  @if($align == center) {
    margin-right: auto;
    margin-left: auto;
    float: none;

  } @elseif($align == left) {
    float: left;

  } @elseif($align == right) {
    float: right;
  }
}
