// Layout / Container / Mixins

// Gutter
@mixin container-gutter($gutter: $container-gutter, $gutter-bp: $container-gutter-bp, $bp: true) {
  padding-right: $gutter;
  padding-left: $gutter;

  @if($bp--enabled == true and $bp == true) {
    // loop through each breakpoint
    @each $bp-name, $bp-value in $bp-map {
      // set container gutter
      @include bp($bp-value) {
        // @include container-gutter(map-get($gutter-bp, $bp-name));
        $gutter: map-get($gutter-bp, $bp-name);
        padding-right: $gutter;
        padding-left: $gutter;
      }
    }
  }
}


@mixin container-gutter-classes($gutter: $container-gutter, $gutter-bp: $container-gutter-bp, $bp: false) {
  @include container-gutter($gutter, $gutter-bp, $bp);
}





// Max Width
@mixin container-max-width($max-width: $container-max-width, $max-width-bp: $container-max-width-bp, $bp: true) {
  max-width: $max-width;

  @if($bp--enabled == true and $bp == true) {
    // loop through each breakpoint
    @each $bp-name, $bp-value in $bp-map {
      // set container gutter
      @include bp($bp-value) {
        // @include container-max-width($max-width);
        $max-width: map-get($max-width-bp, $bp-name);
        max-width: $max-width;
      }
    }
  }
}


@mixin container-max-width-classes($max-width: $container-max-width, $max-width-bp: $container-max-width-bp, $bp: false) {
  @include container-max-width($max-width, $max-width-bp, $bp)
}





// Align
@mixin container-align($align: $container-align, $align-bp: $container-align-bp, $bp: true) {
  @if($align == center) {
    margin-right: auto;
    margin-left: auto;

  } @elseif($align == right) {
    margin-right: 0;
    margin-left: auto;

  } @elseif($align == left) {
    margin-right: auto;
    margin-left: 0;
  }

  @if($bp--enabled == true and $bp == true) {
    // loop through each breakpoint
    @each $bp-name, $bp-value in $bp-map {
      // set container gutter
      @include bp($bp-value) {
        // @include container-align(map-get($align-bp, $bp-name));
        $align: map-get($align-bp, $bp-name);

        @if($align == center) {
          margin-right: auto;
          margin-left: auto;

        } @elseif($align == right) {
          margin-right: 0;
          margin-left: auto;

        } @elseif($align == left) {
          margin-right: auto;
          margin-left: 0;
        }
      }
    }
  }
}


@mixin container-align-classes($align: $container-align, $align-bp: $container-align-bp, $bp: false) {
  @include container-align($align, $align-bp, $bp);
}
