// Layout / Container / Settings

// Max width
$container__max-width: 100% !default;
$container__max-width--bp: (
  small: 100%,
  medium: 100%,
  large: 80%,
  xlarge: 80%,
  xxlarge: 80%,
  xxxlarge: 80%
) !default;

// Alignment
// center, left or right
$container__align: center !default;
$container__align--bp: (
  small: center,
  medium: center,
  large: center,
  xlarge: center,
  xxlarge: center,
  xxxlarge: center
) !default;

// Gutter
$container__gutter: rem(20) !default;
$container__gutter--bp: (
  small: rem(20),
  medium: rem(20),
  large: 0,
  xlarge: 0,
  xxlarge: 0,
  xxxlarge: 0
) !default;

// Presentational classes
// boolean
$container-classes: true !default;
