.clearfix:before, .clearfix:after {
  display: table;
  content: ' '; }
.clearfix:after {
  clear: both; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img {
  vertical-align: middle; }

.l-container {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  max-width: 100%; }
  @media (min-width: 30em) {
    .l-container {
      padding-right: 1.25rem;
      padding-left: 1.25rem;
      max-width: 80%; } }
  @media (min-width: 48em) {
    .l-container {
      padding-right: 0;
      padding-left: 0;
      max-width: 80%; } }
  @media (min-width: 64em) {
    .l-container {
      padding-right: 0;
      padding-left: 0;
      max-width: 80%; } }
  @media (min-width: 85.375em) {
    .l-container {
      padding-right: 0;
      padding-left: 0;
      max-width: 80%; } }
  @media (min-width: 100em) {
    .l-container {
      padding-right: 0;
      padding-left: 0;
      max-width: 80%; } }
  @media (min-width: 120em) {
    .l-container {
      padding-right: 0;
      padding-left: 0;
      max-width: 80%; } }
  .l-container--align-centered {
    margin-right: auto;
    margin-left: auto; }
  .l-container--align-left {
    margin-right: auto;
    margin-left: 0; }
  .l-container--align-right {
    margin-right: 0;
    margin-left: auto; }

@media (min-width: 30em) {
  .l-container--align-centered--bp-small {
    margin-right: auto;
    margin-left: auto; }
  .l-container--align-left--bp-small {
    margin-right: auto;
    margin-left: 0; }
  .l-container--align-right--bp-small {
    margin-right: 0;
    margin-left: auto; } }

@media (min-width: 48em) {
  .l-container--align-centered--bp-medium {
    margin-right: auto;
    margin-left: auto; }
  .l-container--align-left--bp-medium {
    margin-right: auto;
    margin-left: 0; }
  .l-container--align-right--bp-medium {
    margin-right: 0;
    margin-left: auto; } }

@media (min-width: 64em) {
  .l-container--align-centered--bp-large {
    margin-right: auto;
    margin-left: auto; }
  .l-container--align-left--bp-large {
    margin-right: auto;
    margin-left: 0; }
  .l-container--align-right--bp-large {
    margin-right: 0;
    margin-left: auto; } }

@media (min-width: 85.375em) {
  .l-container--align-centered--bp-xlarge {
    margin-right: auto;
    margin-left: auto; }
  .l-container--align-left--bp-xlarge {
    margin-right: auto;
    margin-left: 0; }
  .l-container--align-right--bp-xlarge {
    margin-right: 0;
    margin-left: auto; } }

@media (min-width: 100em) {
  .l-container--align-centered--bp-xxlarge {
    margin-right: auto;
    margin-left: auto; }
  .l-container--align-left--bp-xxlarge {
    margin-right: auto;
    margin-left: 0; }
  .l-container--align-right--bp-xxlarge {
    margin-right: 0;
    margin-left: auto; } }

@media (min-width: 120em) {
  .l-container--align-centered--bp-xxxlarge {
    margin-right: auto;
    margin-left: auto; }
  .l-container--align-left--bp-xxxlarge {
    margin-right: auto;
    margin-left: 0; }
  .l-container--align-right--bp-xxxlarge {
    margin-right: 0;
    margin-left: auto; } }

.l-grid__row {
  margin-right: -0.625rem;
  margin-left: -0.625rem; }
  .l-grid__row:before, .l-grid__row:after {
    display: table;
    content: ' '; }
  .l-grid__row:after {
    clear: both; }

.l-grid__col {
  width: 100%;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  float: left; }

.l-grid__col--offset-reset {
  margin-left: 0; }

.l-grid__col--push-reset {
  left: auto; }

.l-grid__col--pull-reset {
  right: auto; }

.l-grid__col--align-centered {
  margin-right: auto;
  margin-left: auto;
  float: none; }

.l-grid__col--align-right {
  float: right; }

.l-grid__col--align-left {
  float: left; }

.l-grid__col-1 {
  width: 8.33333%; }

.l-grid__col--offset-1 {
  margin-left: 8.33333%; }

.l-grid__col--push-1 {
  position: relative;
  left: 8.33333%;
  right: auto; }

.l-grid__col--pull-1 {
  position: relative;
  right: 8.33333%;
  left: auto; }

.l-grid__col-2 {
  width: 16.66667%; }

.l-grid__col--offset-2 {
  margin-left: 16.66667%; }

.l-grid__col--push-2 {
  position: relative;
  left: 16.66667%;
  right: auto; }

.l-grid__col--pull-2 {
  position: relative;
  right: 16.66667%;
  left: auto; }

.l-grid__col-3 {
  width: 25%; }

.l-grid__col--offset-3 {
  margin-left: 25%; }

.l-grid__col--push-3 {
  position: relative;
  left: 25%;
  right: auto; }

.l-grid__col--pull-3 {
  position: relative;
  right: 25%;
  left: auto; }

.l-grid__col-4 {
  width: 33.33333%; }

.l-grid__col--offset-4 {
  margin-left: 33.33333%; }

.l-grid__col--push-4 {
  position: relative;
  left: 33.33333%;
  right: auto; }

.l-grid__col--pull-4 {
  position: relative;
  right: 33.33333%;
  left: auto; }

.l-grid__col-5 {
  width: 41.66667%; }

.l-grid__col--offset-5 {
  margin-left: 41.66667%; }

.l-grid__col--push-5 {
  position: relative;
  left: 41.66667%;
  right: auto; }

.l-grid__col--pull-5 {
  position: relative;
  right: 41.66667%;
  left: auto; }

.l-grid__col-6 {
  width: 50%; }

.l-grid__col--offset-6 {
  margin-left: 50%; }

.l-grid__col--push-6 {
  position: relative;
  left: 50%;
  right: auto; }

.l-grid__col--pull-6 {
  position: relative;
  right: 50%;
  left: auto; }

.l-grid__col-7 {
  width: 58.33333%; }

.l-grid__col--offset-7 {
  margin-left: 58.33333%; }

.l-grid__col--push-7 {
  position: relative;
  left: 58.33333%;
  right: auto; }

.l-grid__col--pull-7 {
  position: relative;
  right: 58.33333%;
  left: auto; }

.l-grid__col-8 {
  width: 66.66667%; }

.l-grid__col--offset-8 {
  margin-left: 66.66667%; }

.l-grid__col--push-8 {
  position: relative;
  left: 66.66667%;
  right: auto; }

.l-grid__col--pull-8 {
  position: relative;
  right: 66.66667%;
  left: auto; }

.l-grid__col-9 {
  width: 75%; }

.l-grid__col--offset-9 {
  margin-left: 75%; }

.l-grid__col--push-9 {
  position: relative;
  left: 75%;
  right: auto; }

.l-grid__col--pull-9 {
  position: relative;
  right: 75%;
  left: auto; }

.l-grid__col-10 {
  width: 83.33333%; }

.l-grid__col--offset-10 {
  margin-left: 83.33333%; }

.l-grid__col--push-10 {
  position: relative;
  left: 83.33333%;
  right: auto; }

.l-grid__col--pull-10 {
  position: relative;
  right: 83.33333%;
  left: auto; }

.l-grid__col-11 {
  width: 91.66667%; }

.l-grid__col--offset-11 {
  margin-left: 91.66667%; }

.l-grid__col--push-11 {
  position: relative;
  left: 91.66667%;
  right: auto; }

.l-grid__col--pull-11 {
  position: relative;
  right: 91.66667%;
  left: auto; }

.l-grid__col-12 {
  width: 100%; }

.l-grid__col--offset-12 {
  margin-left: 100%; }

.l-grid__col--push-12 {
  position: relative;
  left: 100%;
  right: auto; }

.l-grid__col--pull-12 {
  position: relative;
  right: 100%;
  left: auto; }

@media (min-width: 30em) {
  .l-grid__col--offset-reset--bp-small {
    margin-left: 0; }
  .l-grid__col--push-reset--bp-small {
    left: auto; }
  .l-grid__col--pull-reset--bp-small {
    right: auto; }
  .l-grid__col--align-centered--bp-small {
    margin-right: auto;
    margin-left: auto;
    float: none; }
  .l-grid__col--align-left--bp-small {
    float: left; }
  .l-grid__col--align-right--bp-small {
    float: right; }
  .l-grid__col-1--bp-small {
    width: 8.33333%; }
  .l-grid__col--offset-1--bp-small {
    margin-left: 8.33333%; }
  .l-grid__col--push-1--bp-small {
    position: relative;
    left: 8.33333%;
    right: auto; }
  .l-grid__col--pull-1--bp-small {
    position: relative;
    right: 8.33333%;
    left: auto; }
  .l-grid__col-2--bp-small {
    width: 16.66667%; }
  .l-grid__col--offset-2--bp-small {
    margin-left: 16.66667%; }
  .l-grid__col--push-2--bp-small {
    position: relative;
    left: 16.66667%;
    right: auto; }
  .l-grid__col--pull-2--bp-small {
    position: relative;
    right: 16.66667%;
    left: auto; }
  .l-grid__col-3--bp-small {
    width: 25%; }
  .l-grid__col--offset-3--bp-small {
    margin-left: 25%; }
  .l-grid__col--push-3--bp-small {
    position: relative;
    left: 25%;
    right: auto; }
  .l-grid__col--pull-3--bp-small {
    position: relative;
    right: 25%;
    left: auto; }
  .l-grid__col-4--bp-small {
    width: 33.33333%; }
  .l-grid__col--offset-4--bp-small {
    margin-left: 33.33333%; }
  .l-grid__col--push-4--bp-small {
    position: relative;
    left: 33.33333%;
    right: auto; }
  .l-grid__col--pull-4--bp-small {
    position: relative;
    right: 33.33333%;
    left: auto; }
  .l-grid__col-5--bp-small {
    width: 41.66667%; }
  .l-grid__col--offset-5--bp-small {
    margin-left: 41.66667%; }
  .l-grid__col--push-5--bp-small {
    position: relative;
    left: 41.66667%;
    right: auto; }
  .l-grid__col--pull-5--bp-small {
    position: relative;
    right: 41.66667%;
    left: auto; }
  .l-grid__col-6--bp-small {
    width: 50%; }
  .l-grid__col--offset-6--bp-small {
    margin-left: 50%; }
  .l-grid__col--push-6--bp-small {
    position: relative;
    left: 50%;
    right: auto; }
  .l-grid__col--pull-6--bp-small {
    position: relative;
    right: 50%;
    left: auto; }
  .l-grid__col-7--bp-small {
    width: 58.33333%; }
  .l-grid__col--offset-7--bp-small {
    margin-left: 58.33333%; }
  .l-grid__col--push-7--bp-small {
    position: relative;
    left: 58.33333%;
    right: auto; }
  .l-grid__col--pull-7--bp-small {
    position: relative;
    right: 58.33333%;
    left: auto; }
  .l-grid__col-8--bp-small {
    width: 66.66667%; }
  .l-grid__col--offset-8--bp-small {
    margin-left: 66.66667%; }
  .l-grid__col--push-8--bp-small {
    position: relative;
    left: 66.66667%;
    right: auto; }
  .l-grid__col--pull-8--bp-small {
    position: relative;
    right: 66.66667%;
    left: auto; }
  .l-grid__col-9--bp-small {
    width: 75%; }
  .l-grid__col--offset-9--bp-small {
    margin-left: 75%; }
  .l-grid__col--push-9--bp-small {
    position: relative;
    left: 75%;
    right: auto; }
  .l-grid__col--pull-9--bp-small {
    position: relative;
    right: 75%;
    left: auto; }
  .l-grid__col-10--bp-small {
    width: 83.33333%; }
  .l-grid__col--offset-10--bp-small {
    margin-left: 83.33333%; }
  .l-grid__col--push-10--bp-small {
    position: relative;
    left: 83.33333%;
    right: auto; }
  .l-grid__col--pull-10--bp-small {
    position: relative;
    right: 83.33333%;
    left: auto; }
  .l-grid__col-11--bp-small {
    width: 91.66667%; }
  .l-grid__col--offset-11--bp-small {
    margin-left: 91.66667%; }
  .l-grid__col--push-11--bp-small {
    position: relative;
    left: 91.66667%;
    right: auto; }
  .l-grid__col--pull-11--bp-small {
    position: relative;
    right: 91.66667%;
    left: auto; }
  .l-grid__col-12--bp-small {
    width: 100%; }
  .l-grid__col--offset-12--bp-small {
    margin-left: 100%; }
  .l-grid__col--push-12--bp-small {
    position: relative;
    left: 100%;
    right: auto; }
  .l-grid__col--pull-12--bp-small {
    position: relative;
    right: 100%;
    left: auto; } }

@media (min-width: 48em) {
  .l-grid__col--offset-reset--bp-medium {
    margin-left: 0; }
  .l-grid__col--push-reset--bp-medium {
    left: auto; }
  .l-grid__col--pull-reset--bp-medium {
    right: auto; }
  .l-grid__col--align-centered--bp-medium {
    margin-right: auto;
    margin-left: auto;
    float: none; }
  .l-grid__col--align-left--bp-medium {
    float: left; }
  .l-grid__col--align-right--bp-medium {
    float: right; }
  .l-grid__col-1--bp-medium {
    width: 8.33333%; }
  .l-grid__col--offset-1--bp-medium {
    margin-left: 8.33333%; }
  .l-grid__col--push-1--bp-medium {
    position: relative;
    left: 8.33333%;
    right: auto; }
  .l-grid__col--pull-1--bp-medium {
    position: relative;
    right: 8.33333%;
    left: auto; }
  .l-grid__col-2--bp-medium {
    width: 16.66667%; }
  .l-grid__col--offset-2--bp-medium {
    margin-left: 16.66667%; }
  .l-grid__col--push-2--bp-medium {
    position: relative;
    left: 16.66667%;
    right: auto; }
  .l-grid__col--pull-2--bp-medium {
    position: relative;
    right: 16.66667%;
    left: auto; }
  .l-grid__col-3--bp-medium {
    width: 25%; }
  .l-grid__col--offset-3--bp-medium {
    margin-left: 25%; }
  .l-grid__col--push-3--bp-medium {
    position: relative;
    left: 25%;
    right: auto; }
  .l-grid__col--pull-3--bp-medium {
    position: relative;
    right: 25%;
    left: auto; }
  .l-grid__col-4--bp-medium {
    width: 33.33333%; }
  .l-grid__col--offset-4--bp-medium {
    margin-left: 33.33333%; }
  .l-grid__col--push-4--bp-medium {
    position: relative;
    left: 33.33333%;
    right: auto; }
  .l-grid__col--pull-4--bp-medium {
    position: relative;
    right: 33.33333%;
    left: auto; }
  .l-grid__col-5--bp-medium {
    width: 41.66667%; }
  .l-grid__col--offset-5--bp-medium {
    margin-left: 41.66667%; }
  .l-grid__col--push-5--bp-medium {
    position: relative;
    left: 41.66667%;
    right: auto; }
  .l-grid__col--pull-5--bp-medium {
    position: relative;
    right: 41.66667%;
    left: auto; }
  .l-grid__col-6--bp-medium {
    width: 50%; }
  .l-grid__col--offset-6--bp-medium {
    margin-left: 50%; }
  .l-grid__col--push-6--bp-medium {
    position: relative;
    left: 50%;
    right: auto; }
  .l-grid__col--pull-6--bp-medium {
    position: relative;
    right: 50%;
    left: auto; }
  .l-grid__col-7--bp-medium {
    width: 58.33333%; }
  .l-grid__col--offset-7--bp-medium {
    margin-left: 58.33333%; }
  .l-grid__col--push-7--bp-medium {
    position: relative;
    left: 58.33333%;
    right: auto; }
  .l-grid__col--pull-7--bp-medium {
    position: relative;
    right: 58.33333%;
    left: auto; }
  .l-grid__col-8--bp-medium {
    width: 66.66667%; }
  .l-grid__col--offset-8--bp-medium {
    margin-left: 66.66667%; }
  .l-grid__col--push-8--bp-medium {
    position: relative;
    left: 66.66667%;
    right: auto; }
  .l-grid__col--pull-8--bp-medium {
    position: relative;
    right: 66.66667%;
    left: auto; }
  .l-grid__col-9--bp-medium {
    width: 75%; }
  .l-grid__col--offset-9--bp-medium {
    margin-left: 75%; }
  .l-grid__col--push-9--bp-medium {
    position: relative;
    left: 75%;
    right: auto; }
  .l-grid__col--pull-9--bp-medium {
    position: relative;
    right: 75%;
    left: auto; }
  .l-grid__col-10--bp-medium {
    width: 83.33333%; }
  .l-grid__col--offset-10--bp-medium {
    margin-left: 83.33333%; }
  .l-grid__col--push-10--bp-medium {
    position: relative;
    left: 83.33333%;
    right: auto; }
  .l-grid__col--pull-10--bp-medium {
    position: relative;
    right: 83.33333%;
    left: auto; }
  .l-grid__col-11--bp-medium {
    width: 91.66667%; }
  .l-grid__col--offset-11--bp-medium {
    margin-left: 91.66667%; }
  .l-grid__col--push-11--bp-medium {
    position: relative;
    left: 91.66667%;
    right: auto; }
  .l-grid__col--pull-11--bp-medium {
    position: relative;
    right: 91.66667%;
    left: auto; }
  .l-grid__col-12--bp-medium {
    width: 100%; }
  .l-grid__col--offset-12--bp-medium {
    margin-left: 100%; }
  .l-grid__col--push-12--bp-medium {
    position: relative;
    left: 100%;
    right: auto; }
  .l-grid__col--pull-12--bp-medium {
    position: relative;
    right: 100%;
    left: auto; } }

@media (min-width: 64em) {
  .l-grid__col--offset-reset--bp-large {
    margin-left: 0; }
  .l-grid__col--push-reset--bp-large {
    left: auto; }
  .l-grid__col--pull-reset--bp-large {
    right: auto; }
  .l-grid__col--align-centered--bp-large {
    margin-right: auto;
    margin-left: auto;
    float: none; }
  .l-grid__col--align-left--bp-large {
    float: left; }
  .l-grid__col--align-right--bp-large {
    float: right; }
  .l-grid__col-1--bp-large {
    width: 8.33333%; }
  .l-grid__col--offset-1--bp-large {
    margin-left: 8.33333%; }
  .l-grid__col--push-1--bp-large {
    position: relative;
    left: 8.33333%;
    right: auto; }
  .l-grid__col--pull-1--bp-large {
    position: relative;
    right: 8.33333%;
    left: auto; }
  .l-grid__col-2--bp-large {
    width: 16.66667%; }
  .l-grid__col--offset-2--bp-large {
    margin-left: 16.66667%; }
  .l-grid__col--push-2--bp-large {
    position: relative;
    left: 16.66667%;
    right: auto; }
  .l-grid__col--pull-2--bp-large {
    position: relative;
    right: 16.66667%;
    left: auto; }
  .l-grid__col-3--bp-large {
    width: 25%; }
  .l-grid__col--offset-3--bp-large {
    margin-left: 25%; }
  .l-grid__col--push-3--bp-large {
    position: relative;
    left: 25%;
    right: auto; }
  .l-grid__col--pull-3--bp-large {
    position: relative;
    right: 25%;
    left: auto; }
  .l-grid__col-4--bp-large {
    width: 33.33333%; }
  .l-grid__col--offset-4--bp-large {
    margin-left: 33.33333%; }
  .l-grid__col--push-4--bp-large {
    position: relative;
    left: 33.33333%;
    right: auto; }
  .l-grid__col--pull-4--bp-large {
    position: relative;
    right: 33.33333%;
    left: auto; }
  .l-grid__col-5--bp-large {
    width: 41.66667%; }
  .l-grid__col--offset-5--bp-large {
    margin-left: 41.66667%; }
  .l-grid__col--push-5--bp-large {
    position: relative;
    left: 41.66667%;
    right: auto; }
  .l-grid__col--pull-5--bp-large {
    position: relative;
    right: 41.66667%;
    left: auto; }
  .l-grid__col-6--bp-large {
    width: 50%; }
  .l-grid__col--offset-6--bp-large {
    margin-left: 50%; }
  .l-grid__col--push-6--bp-large {
    position: relative;
    left: 50%;
    right: auto; }
  .l-grid__col--pull-6--bp-large {
    position: relative;
    right: 50%;
    left: auto; }
  .l-grid__col-7--bp-large {
    width: 58.33333%; }
  .l-grid__col--offset-7--bp-large {
    margin-left: 58.33333%; }
  .l-grid__col--push-7--bp-large {
    position: relative;
    left: 58.33333%;
    right: auto; }
  .l-grid__col--pull-7--bp-large {
    position: relative;
    right: 58.33333%;
    left: auto; }
  .l-grid__col-8--bp-large {
    width: 66.66667%; }
  .l-grid__col--offset-8--bp-large {
    margin-left: 66.66667%; }
  .l-grid__col--push-8--bp-large {
    position: relative;
    left: 66.66667%;
    right: auto; }
  .l-grid__col--pull-8--bp-large {
    position: relative;
    right: 66.66667%;
    left: auto; }
  .l-grid__col-9--bp-large {
    width: 75%; }
  .l-grid__col--offset-9--bp-large {
    margin-left: 75%; }
  .l-grid__col--push-9--bp-large {
    position: relative;
    left: 75%;
    right: auto; }
  .l-grid__col--pull-9--bp-large {
    position: relative;
    right: 75%;
    left: auto; }
  .l-grid__col-10--bp-large {
    width: 83.33333%; }
  .l-grid__col--offset-10--bp-large {
    margin-left: 83.33333%; }
  .l-grid__col--push-10--bp-large {
    position: relative;
    left: 83.33333%;
    right: auto; }
  .l-grid__col--pull-10--bp-large {
    position: relative;
    right: 83.33333%;
    left: auto; }
  .l-grid__col-11--bp-large {
    width: 91.66667%; }
  .l-grid__col--offset-11--bp-large {
    margin-left: 91.66667%; }
  .l-grid__col--push-11--bp-large {
    position: relative;
    left: 91.66667%;
    right: auto; }
  .l-grid__col--pull-11--bp-large {
    position: relative;
    right: 91.66667%;
    left: auto; }
  .l-grid__col-12--bp-large {
    width: 100%; }
  .l-grid__col--offset-12--bp-large {
    margin-left: 100%; }
  .l-grid__col--push-12--bp-large {
    position: relative;
    left: 100%;
    right: auto; }
  .l-grid__col--pull-12--bp-large {
    position: relative;
    right: 100%;
    left: auto; } }

@media (min-width: 85.375em) {
  .l-grid__col--offset-reset--bp-xlarge {
    margin-left: 0; }
  .l-grid__col--push-reset--bp-xlarge {
    left: auto; }
  .l-grid__col--pull-reset--bp-xlarge {
    right: auto; }
  .l-grid__col--align-centered--bp-xlarge {
    margin-right: auto;
    margin-left: auto;
    float: none; }
  .l-grid__col--align-left--bp-xlarge {
    float: left; }
  .l-grid__col--align-right--bp-xlarge {
    float: right; }
  .l-grid__col-1--bp-xlarge {
    width: 8.33333%; }
  .l-grid__col--offset-1--bp-xlarge {
    margin-left: 8.33333%; }
  .l-grid__col--push-1--bp-xlarge {
    position: relative;
    left: 8.33333%;
    right: auto; }
  .l-grid__col--pull-1--bp-xlarge {
    position: relative;
    right: 8.33333%;
    left: auto; }
  .l-grid__col-2--bp-xlarge {
    width: 16.66667%; }
  .l-grid__col--offset-2--bp-xlarge {
    margin-left: 16.66667%; }
  .l-grid__col--push-2--bp-xlarge {
    position: relative;
    left: 16.66667%;
    right: auto; }
  .l-grid__col--pull-2--bp-xlarge {
    position: relative;
    right: 16.66667%;
    left: auto; }
  .l-grid__col-3--bp-xlarge {
    width: 25%; }
  .l-grid__col--offset-3--bp-xlarge {
    margin-left: 25%; }
  .l-grid__col--push-3--bp-xlarge {
    position: relative;
    left: 25%;
    right: auto; }
  .l-grid__col--pull-3--bp-xlarge {
    position: relative;
    right: 25%;
    left: auto; }
  .l-grid__col-4--bp-xlarge {
    width: 33.33333%; }
  .l-grid__col--offset-4--bp-xlarge {
    margin-left: 33.33333%; }
  .l-grid__col--push-4--bp-xlarge {
    position: relative;
    left: 33.33333%;
    right: auto; }
  .l-grid__col--pull-4--bp-xlarge {
    position: relative;
    right: 33.33333%;
    left: auto; }
  .l-grid__col-5--bp-xlarge {
    width: 41.66667%; }
  .l-grid__col--offset-5--bp-xlarge {
    margin-left: 41.66667%; }
  .l-grid__col--push-5--bp-xlarge {
    position: relative;
    left: 41.66667%;
    right: auto; }
  .l-grid__col--pull-5--bp-xlarge {
    position: relative;
    right: 41.66667%;
    left: auto; }
  .l-grid__col-6--bp-xlarge {
    width: 50%; }
  .l-grid__col--offset-6--bp-xlarge {
    margin-left: 50%; }
  .l-grid__col--push-6--bp-xlarge {
    position: relative;
    left: 50%;
    right: auto; }
  .l-grid__col--pull-6--bp-xlarge {
    position: relative;
    right: 50%;
    left: auto; }
  .l-grid__col-7--bp-xlarge {
    width: 58.33333%; }
  .l-grid__col--offset-7--bp-xlarge {
    margin-left: 58.33333%; }
  .l-grid__col--push-7--bp-xlarge {
    position: relative;
    left: 58.33333%;
    right: auto; }
  .l-grid__col--pull-7--bp-xlarge {
    position: relative;
    right: 58.33333%;
    left: auto; }
  .l-grid__col-8--bp-xlarge {
    width: 66.66667%; }
  .l-grid__col--offset-8--bp-xlarge {
    margin-left: 66.66667%; }
  .l-grid__col--push-8--bp-xlarge {
    position: relative;
    left: 66.66667%;
    right: auto; }
  .l-grid__col--pull-8--bp-xlarge {
    position: relative;
    right: 66.66667%;
    left: auto; }
  .l-grid__col-9--bp-xlarge {
    width: 75%; }
  .l-grid__col--offset-9--bp-xlarge {
    margin-left: 75%; }
  .l-grid__col--push-9--bp-xlarge {
    position: relative;
    left: 75%;
    right: auto; }
  .l-grid__col--pull-9--bp-xlarge {
    position: relative;
    right: 75%;
    left: auto; }
  .l-grid__col-10--bp-xlarge {
    width: 83.33333%; }
  .l-grid__col--offset-10--bp-xlarge {
    margin-left: 83.33333%; }
  .l-grid__col--push-10--bp-xlarge {
    position: relative;
    left: 83.33333%;
    right: auto; }
  .l-grid__col--pull-10--bp-xlarge {
    position: relative;
    right: 83.33333%;
    left: auto; }
  .l-grid__col-11--bp-xlarge {
    width: 91.66667%; }
  .l-grid__col--offset-11--bp-xlarge {
    margin-left: 91.66667%; }
  .l-grid__col--push-11--bp-xlarge {
    position: relative;
    left: 91.66667%;
    right: auto; }
  .l-grid__col--pull-11--bp-xlarge {
    position: relative;
    right: 91.66667%;
    left: auto; }
  .l-grid__col-12--bp-xlarge {
    width: 100%; }
  .l-grid__col--offset-12--bp-xlarge {
    margin-left: 100%; }
  .l-grid__col--push-12--bp-xlarge {
    position: relative;
    left: 100%;
    right: auto; }
  .l-grid__col--pull-12--bp-xlarge {
    position: relative;
    right: 100%;
    left: auto; } }

@media (min-width: 100em) {
  .l-grid__col--offset-reset--bp-xxlarge {
    margin-left: 0; }
  .l-grid__col--push-reset--bp-xxlarge {
    left: auto; }
  .l-grid__col--pull-reset--bp-xxlarge {
    right: auto; }
  .l-grid__col--align-centered--bp-xxlarge {
    margin-right: auto;
    margin-left: auto;
    float: none; }
  .l-grid__col--align-left--bp-xxlarge {
    float: left; }
  .l-grid__col--align-right--bp-xxlarge {
    float: right; }
  .l-grid__col-1--bp-xxlarge {
    width: 8.33333%; }
  .l-grid__col--offset-1--bp-xxlarge {
    margin-left: 8.33333%; }
  .l-grid__col--push-1--bp-xxlarge {
    position: relative;
    left: 8.33333%;
    right: auto; }
  .l-grid__col--pull-1--bp-xxlarge {
    position: relative;
    right: 8.33333%;
    left: auto; }
  .l-grid__col-2--bp-xxlarge {
    width: 16.66667%; }
  .l-grid__col--offset-2--bp-xxlarge {
    margin-left: 16.66667%; }
  .l-grid__col--push-2--bp-xxlarge {
    position: relative;
    left: 16.66667%;
    right: auto; }
  .l-grid__col--pull-2--bp-xxlarge {
    position: relative;
    right: 16.66667%;
    left: auto; }
  .l-grid__col-3--bp-xxlarge {
    width: 25%; }
  .l-grid__col--offset-3--bp-xxlarge {
    margin-left: 25%; }
  .l-grid__col--push-3--bp-xxlarge {
    position: relative;
    left: 25%;
    right: auto; }
  .l-grid__col--pull-3--bp-xxlarge {
    position: relative;
    right: 25%;
    left: auto; }
  .l-grid__col-4--bp-xxlarge {
    width: 33.33333%; }
  .l-grid__col--offset-4--bp-xxlarge {
    margin-left: 33.33333%; }
  .l-grid__col--push-4--bp-xxlarge {
    position: relative;
    left: 33.33333%;
    right: auto; }
  .l-grid__col--pull-4--bp-xxlarge {
    position: relative;
    right: 33.33333%;
    left: auto; }
  .l-grid__col-5--bp-xxlarge {
    width: 41.66667%; }
  .l-grid__col--offset-5--bp-xxlarge {
    margin-left: 41.66667%; }
  .l-grid__col--push-5--bp-xxlarge {
    position: relative;
    left: 41.66667%;
    right: auto; }
  .l-grid__col--pull-5--bp-xxlarge {
    position: relative;
    right: 41.66667%;
    left: auto; }
  .l-grid__col-6--bp-xxlarge {
    width: 50%; }
  .l-grid__col--offset-6--bp-xxlarge {
    margin-left: 50%; }
  .l-grid__col--push-6--bp-xxlarge {
    position: relative;
    left: 50%;
    right: auto; }
  .l-grid__col--pull-6--bp-xxlarge {
    position: relative;
    right: 50%;
    left: auto; }
  .l-grid__col-7--bp-xxlarge {
    width: 58.33333%; }
  .l-grid__col--offset-7--bp-xxlarge {
    margin-left: 58.33333%; }
  .l-grid__col--push-7--bp-xxlarge {
    position: relative;
    left: 58.33333%;
    right: auto; }
  .l-grid__col--pull-7--bp-xxlarge {
    position: relative;
    right: 58.33333%;
    left: auto; }
  .l-grid__col-8--bp-xxlarge {
    width: 66.66667%; }
  .l-grid__col--offset-8--bp-xxlarge {
    margin-left: 66.66667%; }
  .l-grid__col--push-8--bp-xxlarge {
    position: relative;
    left: 66.66667%;
    right: auto; }
  .l-grid__col--pull-8--bp-xxlarge {
    position: relative;
    right: 66.66667%;
    left: auto; }
  .l-grid__col-9--bp-xxlarge {
    width: 75%; }
  .l-grid__col--offset-9--bp-xxlarge {
    margin-left: 75%; }
  .l-grid__col--push-9--bp-xxlarge {
    position: relative;
    left: 75%;
    right: auto; }
  .l-grid__col--pull-9--bp-xxlarge {
    position: relative;
    right: 75%;
    left: auto; }
  .l-grid__col-10--bp-xxlarge {
    width: 83.33333%; }
  .l-grid__col--offset-10--bp-xxlarge {
    margin-left: 83.33333%; }
  .l-grid__col--push-10--bp-xxlarge {
    position: relative;
    left: 83.33333%;
    right: auto; }
  .l-grid__col--pull-10--bp-xxlarge {
    position: relative;
    right: 83.33333%;
    left: auto; }
  .l-grid__col-11--bp-xxlarge {
    width: 91.66667%; }
  .l-grid__col--offset-11--bp-xxlarge {
    margin-left: 91.66667%; }
  .l-grid__col--push-11--bp-xxlarge {
    position: relative;
    left: 91.66667%;
    right: auto; }
  .l-grid__col--pull-11--bp-xxlarge {
    position: relative;
    right: 91.66667%;
    left: auto; }
  .l-grid__col-12--bp-xxlarge {
    width: 100%; }
  .l-grid__col--offset-12--bp-xxlarge {
    margin-left: 100%; }
  .l-grid__col--push-12--bp-xxlarge {
    position: relative;
    left: 100%;
    right: auto; }
  .l-grid__col--pull-12--bp-xxlarge {
    position: relative;
    right: 100%;
    left: auto; } }

@media (min-width: 120em) {
  .l-grid__col--offset-reset--bp-xxxlarge {
    margin-left: 0; }
  .l-grid__col--push-reset--bp-xxxlarge {
    left: auto; }
  .l-grid__col--pull-reset--bp-xxxlarge {
    right: auto; }
  .l-grid__col--align-centered--bp-xxxlarge {
    margin-right: auto;
    margin-left: auto;
    float: none; }
  .l-grid__col--align-left--bp-xxxlarge {
    float: left; }
  .l-grid__col--align-right--bp-xxxlarge {
    float: right; }
  .l-grid__col-1--bp-xxxlarge {
    width: 8.33333%; }
  .l-grid__col--offset-1--bp-xxxlarge {
    margin-left: 8.33333%; }
  .l-grid__col--push-1--bp-xxxlarge {
    position: relative;
    left: 8.33333%;
    right: auto; }
  .l-grid__col--pull-1--bp-xxxlarge {
    position: relative;
    right: 8.33333%;
    left: auto; }
  .l-grid__col-2--bp-xxxlarge {
    width: 16.66667%; }
  .l-grid__col--offset-2--bp-xxxlarge {
    margin-left: 16.66667%; }
  .l-grid__col--push-2--bp-xxxlarge {
    position: relative;
    left: 16.66667%;
    right: auto; }
  .l-grid__col--pull-2--bp-xxxlarge {
    position: relative;
    right: 16.66667%;
    left: auto; }
  .l-grid__col-3--bp-xxxlarge {
    width: 25%; }
  .l-grid__col--offset-3--bp-xxxlarge {
    margin-left: 25%; }
  .l-grid__col--push-3--bp-xxxlarge {
    position: relative;
    left: 25%;
    right: auto; }
  .l-grid__col--pull-3--bp-xxxlarge {
    position: relative;
    right: 25%;
    left: auto; }
  .l-grid__col-4--bp-xxxlarge {
    width: 33.33333%; }
  .l-grid__col--offset-4--bp-xxxlarge {
    margin-left: 33.33333%; }
  .l-grid__col--push-4--bp-xxxlarge {
    position: relative;
    left: 33.33333%;
    right: auto; }
  .l-grid__col--pull-4--bp-xxxlarge {
    position: relative;
    right: 33.33333%;
    left: auto; }
  .l-grid__col-5--bp-xxxlarge {
    width: 41.66667%; }
  .l-grid__col--offset-5--bp-xxxlarge {
    margin-left: 41.66667%; }
  .l-grid__col--push-5--bp-xxxlarge {
    position: relative;
    left: 41.66667%;
    right: auto; }
  .l-grid__col--pull-5--bp-xxxlarge {
    position: relative;
    right: 41.66667%;
    left: auto; }
  .l-grid__col-6--bp-xxxlarge {
    width: 50%; }
  .l-grid__col--offset-6--bp-xxxlarge {
    margin-left: 50%; }
  .l-grid__col--push-6--bp-xxxlarge {
    position: relative;
    left: 50%;
    right: auto; }
  .l-grid__col--pull-6--bp-xxxlarge {
    position: relative;
    right: 50%;
    left: auto; }
  .l-grid__col-7--bp-xxxlarge {
    width: 58.33333%; }
  .l-grid__col--offset-7--bp-xxxlarge {
    margin-left: 58.33333%; }
  .l-grid__col--push-7--bp-xxxlarge {
    position: relative;
    left: 58.33333%;
    right: auto; }
  .l-grid__col--pull-7--bp-xxxlarge {
    position: relative;
    right: 58.33333%;
    left: auto; }
  .l-grid__col-8--bp-xxxlarge {
    width: 66.66667%; }
  .l-grid__col--offset-8--bp-xxxlarge {
    margin-left: 66.66667%; }
  .l-grid__col--push-8--bp-xxxlarge {
    position: relative;
    left: 66.66667%;
    right: auto; }
  .l-grid__col--pull-8--bp-xxxlarge {
    position: relative;
    right: 66.66667%;
    left: auto; }
  .l-grid__col-9--bp-xxxlarge {
    width: 75%; }
  .l-grid__col--offset-9--bp-xxxlarge {
    margin-left: 75%; }
  .l-grid__col--push-9--bp-xxxlarge {
    position: relative;
    left: 75%;
    right: auto; }
  .l-grid__col--pull-9--bp-xxxlarge {
    position: relative;
    right: 75%;
    left: auto; }
  .l-grid__col-10--bp-xxxlarge {
    width: 83.33333%; }
  .l-grid__col--offset-10--bp-xxxlarge {
    margin-left: 83.33333%; }
  .l-grid__col--push-10--bp-xxxlarge {
    position: relative;
    left: 83.33333%;
    right: auto; }
  .l-grid__col--pull-10--bp-xxxlarge {
    position: relative;
    right: 83.33333%;
    left: auto; }
  .l-grid__col-11--bp-xxxlarge {
    width: 91.66667%; }
  .l-grid__col--offset-11--bp-xxxlarge {
    margin-left: 91.66667%; }
  .l-grid__col--push-11--bp-xxxlarge {
    position: relative;
    left: 91.66667%;
    right: auto; }
  .l-grid__col--pull-11--bp-xxxlarge {
    position: relative;
    right: 91.66667%;
    left: auto; }
  .l-grid__col-12--bp-xxxlarge {
    width: 100%; }
  .l-grid__col--offset-12--bp-xxxlarge {
    margin-left: 100%; }
  .l-grid__col--push-12--bp-xxxlarge {
    position: relative;
    left: 100%;
    right: auto; }
  .l-grid__col--pull-12--bp-xxxlarge {
    position: relative;
    right: 100%;
    left: auto; } }

.l-grid__row--display {
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  background: #f5f5f5;
  line-height: 3em; }
  .l-grid__row--display .l-grid__col {
    font-size: 0.75rem; }
  .l-grid__row--display .l-grid__col:nth-of-type(even) {
    background: #e0e0e0; }
  .l-grid__row--display .l-grid__col:nth-of-type(odd) {
    background: #eee; }

html {
  position: relative;
  min-height: 100%; }

body {
  margin-bottom: 3.75rem; }

.l-region-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.75rem; }

body {
  background-color: #fafafa;
  color: #616161; }

.l-region-header {
  background-color: #ffb74d;
  color: #fff; }

.l-region-footer {
  background-color: #e0e0e0;
  color: #000; }
